table, th {
    border: 1px solid rgb(53, 93, 99);
    text-align: center;
}

  
th {
    background-color: #AFB42B ;
    color: whitesmoke;
    text-align: center;
}
td{
    color: rgb(175, 117, 8);
    text-align: center;
    background-color: #E6EE9C ;
    font-weight: 500;
    border : 1px dotted #a1a770
}
.row {
    background-color: #E0E0E0;
}
input[type=button]{
    background-color: tomato;
    color: white;
    float: right;
}
.ele {
    float: right;
}
label {
    color:rgb(99, 21, 7);
    font-weight: 700;
}
.al {
    float: right;
}
.ab{
    float:right;
}
