table, th, td {
    border: 1px solid rgb(53, 93, 99);
}
th {
    background-color: cadetblue;
    color: whitesmoke;
    text-align: center;
}
td{
    color: rgb(175, 117, 8);
    text-align: center;
    background-color: rgb(199, 227, 243);
    font-weight: 500;
}
.row {
    background-color: thistle;
}
button{
    background-color: tomato;
    color: white;
    float: right;
}
input {
    float: right;
}
label {
    color:rgb(99, 21, 7);
    font-weight: 700;
}